@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.outer-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.cta-repeat-container {
  background-color: #f8ffc5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  min-width: 500px;
  height: auto;
  max-height: 400px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 2px 25px #ff8400;
}

.cta-title {
  text-align: center;
  padding: 5%;
  color: #ffaa00;
  opacity: 0;
  animation:
    slideUpFade 1.8s ease-out 0.3s forwards,
    floatUpDown 3s ease-in-out 2.1s infinite;
  span {
    color: #db1c1c;
  }
}
@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.cta-text {
  margin: 0px 20px 20px 20px;
  color: #6e4949;
  font-weight: 600;
  font-size: 18px;
}

.cta-btn {
  margin: 20px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #208b20;
  color: #fcfbd3;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.cta-btn:hover {
  color: #ffffff;
  background-color: #176417;
}

.cta-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.cta-modal-input {
  width: 300px;
  height: 40px;
  background-color: #f3f7e4;
  border: none;
  border-radius: 10px;
}

.cta-modal-btn {
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: #6e4949;
  color: #f3f7e4;
  font-weight: bold;
}

.cta-modal-btn:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #4c3232;
}
